
<div class="row expanded">
	<div id="nav" class="large-2 columns navDesktopWrap">
		<moon-nav-desktop></moon-nav-desktop>
	</div>
	<div class="small-12 large-10 columns">
		<section class="sectionWrap" id="wrapContact">
			<div class="row">
				<div class="small-12 medium-3 medium-offset-1 columns pgTitleWrap">
					<h1>Let&#39;s Talk.</h1>
				</div>
			</div><!-- /.row -->

			<div class="row">
				<div class="small-12 medium-2 medium-offset-1 columns contactWrap">
					<img src="assets/imgs/line_black_sm.png" alt="line" class="symUnderscore" />
					<p><a href="mailto:careers@moonatl.com">careers@moonatl.com</a></p>
					<p><a href="mailto:hello@moonatl.com">hello@moonatl.com</a></p>
					<p class="phoneNum"><a href="tel:14044401130">470.440.1130</a></p>
				</div>

				<div class="small-12 medium-3 medium-offset-1 large-offset-0 columns mapWrap">
					<img src="assets/imgs/line_black_sm.png" alt="line" class="symUnderscore" />
					<a href="https://www.google.com/maps/place/400+Trabert+Ave+NW,+Atlanta,+GA+30309/@33.7942879,-84.4032194,17z/data=!3m1!4b1!4m5!3m4!1s0x88f504f98e8f4a59:0xcf1c518eb7bf4381!8m2!3d33.794388!4d-84.401034" target="_blank">
						<p>400 Trabert Ave NW, Ste B</p>
						<p>Atlanta, GA 30309</p>
					</a>
				</div>
			</div><!-- /.row -->
		</section>
	</div>
</div><!-- /.row -->
