
//*** import fonts ***//
@font-face {
    font-family: 'maisonneue-medium';
    src: url('/assets/fonts/maisonneue-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/maisonneue-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maisonneue-mono';
    src: url('/assets/fonts/maisonneue-mono-webfont.woff2') format('woff2'),
         url('/assets/fonts/maisonneue-mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maisonneue-bold';
    src: url('/assets/fonts/maisonneue-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/maisonneue-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maisonneue-book';
    src: url('/assets/fonts/maisonneue-book-webfont.woff2') format('woff2'),
         url('/assets/fonts/maisonneue-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
