
.showMe {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.overflowY {
	overflow-y: hidden;
}

.caps {
	text-transform: uppercase;
}

.txtCenter {
	text-align: center;
}
