
<footer id="footer">
	<div class="row">
		<div class="small-12 medium-2 columns">
			<h4>Contact</h4>
			<img src="assets/imgs/line_white_sm.png" alt="white line" />
			<div class="content">
				<p><a href="mailto:careers@moonatl.com">careers@moonatl.com</a></p>
				<p><a href="mailto:hello@moonatl.com">hello@moonatl.com</a></p>
				<p class="phoneNum"><a href="tel:14044401130">470.440.1130</a></p>
			</div>
		</div>

		<div class="small-12 medium-3 columns">
			<div class="content">
				<div class="map">
					<a href="https://www.google.com/maps/place/400+Trabert+Ave+NW,+Atlanta,+GA+30309/@33.7942879,-84.4032194,17z/data=!3m1!4b1!4m5!3m4!1s0x88f504f98e8f4a59:0xcf1c518eb7bf4381!8m2!3d33.794388!4d-84.401034" target="_blank">
						<p>400 Trabert Ave NW, Ste B</p>
						<p>Atlanta, GA 30309</p>
					</a>
				</div>
			</div>
		</div>

		<div class="small-12 medium-3 medium-offset-1 columns">
			<h4>Moon</h4>
			<img src="assets/imgs/line_white_sm.png" alt="white line" />
			<div class="content">
				<p>We build innovative products and services that help leaders move into new frontiers.</p>
			</div>
		</div>

		<div class="small-12 medium-2 medium-offset-1 columns wrapSocial">
			<h4>More</h4>
			<img src="assets/imgs/line_white_sm.png" alt="white line" />
			<div class="content">
				<a href="https://medium.com/icon-moon" target="_blank">Medium</a>
			</div>
		</div>
	</div><!-- /.row -->

	<div class="containerLegal">
		<p>&copy; Moon 2017 all rights reserved</p>
	</div>
</footer>
