<div class="row expanded">
	<div id="nav" class="large-2 columns navDesktopWrap">
		<moon-nav-desktop></moon-nav-desktop>
	</div>
	<div class="small-12 large-10 columns">
		<section class="sectionWrap">
			<div class="row">
				<div class="small-12 medium-8 medium-offset-1 columns pgTitleWrap">
					<h1>We&#39;re dedicated to helping brands &amp; organizations adapt and transform.</h1>
				</div>
			</div><!-- /.row -->
			<div class="row collapse">
				<div class="small-12 medium-8 medium-offset-2 columns wrapWorkflow">
					<img src="assets/imgs/workflow.png" alt="moon workflow" />
				</div>
			</div><!-- /.row -->
			<div class="row collapse">
				<div class="small-12 medium-10 medium-offset-2 large-11 large-offset-1 columns">
					<h3>What We Offer</h3>
				</div>
			</div><!-- /.row -->
			<div class="row collapse">
				<div class="small-12 medium-10 medium-offset-2 large-11 large-offset-1 columns">
					<div class="services">
						<div class="category">
							<h4>Consultation &amp; Strategy</h4>
							<img src="assets/imgs/line_black_sm.png" alt="line" />
							<ul>
								<li>Product &amp; Service Development</li>
								<li>Technology Solutions &amp; Planning</li>
								<li>Machine Learning &amp; <span class="caps">ai</span></li>
							</ul>
						</div><!-- /.category -->
						<div class="category">
							<h4>Design &amp; Prototyping</h4>
							<img src="assets/imgs/line_black_sm.png" alt="line" />
							<ul>
								<li>Digital Branding</li>
								<li><span class="caps">ux</span> &#47; <span class="caps">ui</span> &amp; Visual Design</li>
								<li>Physical &amp; Virtual Experiences</li>
								<li>Data Visualization</li>
							</ul>
						</div><!-- /.category -->
						<div class="category">
							<h4>Research &amp; Analysis</h4>
							<img src="assets/imgs/line_black_sm.png" alt="line" />
							<ul>
								<li>User Journeys</li>
								<li>Human Interactions</li>
								<li>Data Science</li>
								<li>Computer Vision</li>
								<li>Ambient Intelligence</li>
							</ul>
						</div><!-- /.category -->
						<div class="category">
							<h4>Engineering &amp; Biotech</h4>
							<img src="assets/imgs/line_black_sm.png" alt="line" />
							<ul>
								<li>Rapid Prototyping</li>
								<li>Systems Architecture</li>
								<li>Data Management</li>
								<li>Machine Learning Development</li>
								<li>Application Development</li>
								<li>Testing Automation</li>
								<li>Genome Development</li>
								<li>Biomimicry</li>
							</ul>
						</div><!-- /.category -->
					</div>
				</div>
			</div><!-- /.row -->
			<div class="row collapse">
				<div class="small-12 medium-8 medium-offset-2 columns">
					<h3>How We Do It</h3>
				</div>
			</div><!-- /.row -->
			<div class="row collapse">
				<div class="small-12 medium-8 medium-offset-2 columns">
					<p>We observe and design around users&#39; patterns &amp; habits.  We stand by the idea that the best product doesn’t always win, it&#39;s the product with the best patterns &amp; habits that wins. We are systems thinkers and we believe in order to make something great, it requires us to look at projects from a holistic point of view. Many interacting factors such design, engineering, and operations need to work cohesively and in unison.</p>
					<p>We&#39;re driven by our curiosity and radical truth. We believe that asking the right questions is better than having answers because it leads to new discoveries.  We know that when different outcomes are desired, different approaches are necessary. We utilize a range of disciplines because it helps us gain unique perspectives to challenges. We start with the one success metric that matters most and expand from there.</p>
				</div>
			</div><!-- /.row -->
		</section>
	</div>
</div><!-- /.row -->
