
<div class="row expanded">
	<div id="nav" class="large-2 columns navDesktopWrap">
		<moon-nav-desktop></moon-nav-desktop>
	</div>
	<div class="small-12 large-10 columns">
		<section class="sectionWrap">
			<div class="row heroWrap">
				<div class="small-12 columns">
					<div class="row collapse">
						<div class="medium-6 medium-offset-4 columns">
							<img src="assets/imgs/moon_landing.png" alt="moon" />
						</div>
					</div><!-- /.row -->
					<div class="row collapse">
						<div class="small-12 medium-9 medium-offset-1 columns headingWrap">
							<h1>&#8220;I wanted to come to America because they put men on the moon.&#8221;</h1>
						</div>
					</div><!-- /.row.collapse -->
				</div>
			</div><!-- /.row -->

			<div class="row">
				<div class="small-12 medium-9 medium-offset-2 columns wrapOurStory">
					<h3>Our Story</h3>
					<p><span class="caps">Moon</span> Founder Justin Keoninh&#39;s parents fled their war&#45;torn homeland of Laos in the 1980s and spent two years in a Thai refugee camp before deciding where they would start their new life. When Justin asked his father why he chose to come to the United States, Le told him, &#8220;I wanted to come to America because they put men on the moon.&#8221;</p>
					<p>The moon landing, one of America&#39;s greatest feats, showed us the degree at which technology can influence humanity. It serves as the main inspiration for <span class="caps">Moon</span> and represents how we want to devote our skills to the shifts happening in the world.</p>
				</div>
			</div><!-- /.row -->

			<div class="row">
				<div class="small-12 medium-7 columns">
					<h3>Our People</h3>
					<p>We are a team of technologists, strategists, designers and storytellers building products and services to transform the future. <span class="caps">Moon</span> is a sister&#45;company of <span class="caps">Icon</span>, a 35&#45;year&#45;old Atlanta-based design consultancy.</p>
				</div>
			</div><!-- /.row -->

			<div class="row wrapWorkers">
				<div class="small-12 columns">
					<div class="row collapse">
						<div class="small-12 medium-4 columns">
							<div class="item">
								<img src="assets/imgs/justin_keoninh.png" alt="justin keoninh" />
								<div class="workerInfo">
									<div class="name">Justin Keoninh</div>
									<div class="title">Founder &#47; Creative Director</div>
								</div>
							</div><!-- /.item -->
						</div>
						<div class="small-12 medium-4 columns">
							<div class="item">
								<img src="assets/imgs/michael_christy.png" alt="michael christy" />
								<div class="workerInfo">
									<div class="name">Michael Christy</div>
									<div class="title">Co&#45;Founder &#47; Technology Director</div>
								</div>
							</div><!-- /.item -->
						</div>
						<div class="small-12 medium-4 columns">
							<div class="item">
								<img src="assets/imgs/chris_davis.png" alt="chris davis" />
								<div class="workerInfo">
									<div class="name">Chris Davis</div>
									<div class="title">Principal Scientist</div>
								</div>
							</div><!-- /.item -->
						</div>
					</div><!-- /.row -->
					<div class="row collapse rowBottom">
						<div class="small-12 medium-4 medium-offset-2 columns">
							<div class="item">
								<img src="assets/imgs/tripstar.png" alt="trip pruitt" />
								<div class="workerInfo">
									<div class="name">Trip Pruitt</div>
									<div class="title">Full&#45;Stack Engineer</div>
								</div>
							</div><!-- /.item -->
						</div>
						<div class="small-12 medium-4 columns">
							<div class="item">
								<img src="assets/imgs/erin_mcglothlin.png" alt="erin mcglothlin" />
								<div class="workerInfo">
									<div class="name">Erin McGlothlin</div>
									<div class="title"><span class="caps">Ux</span> &amp; Visual Designer</div>
								</div>
							</div><!-- /.item -->
						</div>
					</div><!-- /.row -->
				</div>
			</div><!-- /.row -->
		</section>
	</div>
</div><!-- /.row -->
